
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: lato, sans-serif;
  background: linear-gradient(180deg, #FFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);
  overflow-x: hidden;
}

.wrapper {
  width: 1200px;
  height: 100vh;
  margin:auto;
  background:dodgerblue;
}

.title {
font-family: "Futura PT-Demi", Helvetica;
font-weight: 400;
color: #54575a;
font-size: 64px;
letter-spacing: 0;
line-height: 67.5px;
}

.text {
  font-family: "Futura PT-Book", Helvetica;
  font-weight: 400;
  color: #54575a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}